@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/vaziri_persian/Vazir-Thin.eot");
    src: url("../fonts/vaziri_persian/Vazir-Thin.woff") format("woff"),
      url("../fonts/vaziri_persian/Vazir-Thin.ttf") format("ttf"),
      url("../fonts/vaziri_persian/Vazir-Thin.woff2") format("woff2");
  }
  
body{
    background-image: url("../assets/images/confirmBack.jpg");
    background-size: 100vw 100vh;       
    background-repeat: no-repeat;
    font-family: vazir;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    border: 1px solid gainsboro;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    display: flex;
    padding: 35px;
    background-color: rgb(43, 51, 48, 0.6);
    border-radius: 54px;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.form_input{
    border-radius: 6px;
    padding: 12px 14px;
    width: 300px;
    text-align: center;
    margin: 53px 5px;   
    font-family: 'vazir';
    height: 24px;
    border: 1px solid #09a858;
    transition: all 0.2s ease-in;
    box-shadow: 0px 0px 9px 2px #b5bab8;
    font-size: 22px;
  }
  .submit_btn{
    outline: none;
    background: #fbe577;
    border-radius: 10px;
    border: 2px solid #9f945e;
    width: 200px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'vazir';
    font-size: 22px;
    height: 41px;
    box-shadow: 0px 2px 8px 2px #cdbb5f;
    color: #013626;
}
.title{
    font-size: 3rem;
    text-shadow: 0px 4px 19px white;
}

@media(max-width: 700px){
    .title{
        font-size: 2rem;
    }
    .form_input{
        padding: 10px 1px;

    }
    .submit_btn{
        width: 170px;
    }
}